section{
    display: grid;
    grid-template-columns: auto;
    width: 100vw;
    height: fit-content;
}

h1{
    display: flex;
    flex-basis: 70%;
}

.login{
    font-size: 1.3rem;
    padding: 0 25px;
    overflow: hidden;
}

img{
    display: block;
    width: 100vw;
    padding: 3rem 0;
}

h2{
    font-size: 4rem;
    padding: 0 4%;
}

p ,span{
    font-size: 1.5rem;
    padding: 0 4%;
    word-spacing: .2rem;
}

.get{
    margin-top: 3%;
    padding: 0 25px;
    font-size: 12px;

}

.h1{
    display: block;
    letter-spacing: .5rem;
}

main{
    display: block;
    max-width: 100%;
    height: fit-content;
}

h3{
    font-size: 2rem;
}

input[type="email"],[type="password"],[type="text"]{
    line-height: 1rem;
    max-width: 100%;
    padding-top: 10px;
    margin-top: 1rem;
    overflow: hidden;

}

.container{
    line-height: 4;
}

.butt, input[type="submit"]{
	
	font-size: 12px;
	text-align: center;
    border: none;
    max-width: 100%;
    padding: 0 70px;
    margin-top: 1rem;
    margin-left: 1.5rem;
	text-decoration: none;
    cursor: pointer;
    height: 30px;
}

.input1,.input2{
     max-width: 100%;   
}

span{
    font-size: 1.5rem;
}





